@{
    ViewBag.Title = "Can't creat transaction. Not enough funds!";
}

<h2>@ViewBag.Title</h2>

<p> Please, ask somebody to transfer PW to you account</p>

<a href="@Url.Action("History", "Transaction" )" class="btn btn-info">
    Show history
    <span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
</a>

<a href="@Url.Action("List", "Transaction" )" class="btn btn-info">
    Show last transactions
    <span class="glyphicon glyphicon glyphicon-transfer" aria-hidden="true"></span>
</a>

