<div>
    <h3>Download project source code.</h3>
    <p>
        You can download source code hear:
        <br>
        <a href="https://pw.kosolapov.info/PW_InternalMoney.zip" class="btn btn-success">
            Download
            <span class="glyphicon glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        </a>
        
    </p>
</div>
